.callback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.callback__button {

}

.callback__list {
  margin: 0 84px 0 0;
  padding: 0;

  list-style: none;
}

.callback__link {
  color: #323232;
  text-decoration: none;

  @include font(22px, 26px, 700);

  &:hover,
  &:focus {
    color: rgba(#323232, 0.6);
  }

  &:active {
    color: rgba(#323232, 0.3);
  }
}
