.container {
  width: $desktop-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .container {
    width: $tablet-width;
    margin: 0 auto;
  }
}


@media (min-width: 0) and (max-width: $tablet-width - 1) {
  .container {
    width: $mobile-width;
    margin: 0 auto;
  }
}
