.site-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.site-list__item {
  &:first-child {
    margin-right: 44px;
  }

  &:nth-child(5) {
    padding-right: 44px;
  }
}

.site-list__item--dropdown {
  position: relative;

  width: 208px;

  text-align: center;

  .site-list__link {
    position: relative;

    padding: 28px 0 22px;

    &::after {
      top: 30px;
      right: -22px;

      width: 10px;
      height: 8px;

      background-image: url("../img/menu-triangle.svg");
      background-repeat: no-repeat;

      @include pseudo();
    }
  }

  &:hover,
  &:focus {
    background-color: #c22a2e;

    .sub-list {
      display: block;
    }
  }
}

.site-list__link {
  position: relative;

  display: inline-block;
  padding: 28px 0 22px 0;

  text-align: center;
  color: #f9fafe;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  @include font(16px, 19px, 700);

  &[href]:hover,
  &[href]:focus {
    color: rgba(#f9fafe, 1);
  }

  &[href]:active {
    color: rgba(#f9fafe, 1);
  }
}

.site-list__link--active {
  color: rgba(#f9fafe, 0.6);
}

@media (min-width: 0) and (max-width: $tablet-width - 1) {
  .site-list {
    flex-direction: column;
    justify-content: center;

    text-align: left;
  }

  .site-list__item {
    margin: 0;
    padding: 0 0 0 15px;

    border-bottom: 1px solid rgba(#a6a7b1, 0.2);

    &:first-child {
      margin: 0;
    }

    &:nth-child(5) {
      padding: 0 0 0 15px;
    }

    &:hover {
      background-color: #e33439;
    }
  }

  .site-list__link {
    padding: 15px 0 10px;

    &[href]:hover,
    &[href]:focus {
      color: rgba(#ffffff, 0.6);
    }

    &[href]:active {
      color: rgba(#ffffff, 0.3);
    }
  }

  .site-list__item--dropdown {
    width: 100%;

    text-align: left;

    &:hover,
    &:focus {
      background-color: #e33439;
    }

    &:active {
      background-color: #e33439;
    }

    .site-list__link {
      padding: 15px 0 10px;

      text-align: left;

      &::after {
        display: none;
      }
    }
  }

  .site-list__link--active {
    color: #f9fafe;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
  .site-list__item {
    &:first-child {
      margin: 0;
    }

    &:nth-child(5) {
      padding: 0;
    }
  }

  .site-list__item--dropdown {
    width: 143px;

    .site-list__link {
      &::after {
        right: -15px;
      }
    }
  }

}
