.sub-list {
  position: absolute;
  top: auto;
  left: 0;

  display: none;
  width: 208px;

  @include ul-reset;
}

.sub-list__item {
  text-align: left;

  background-color: #c22a2e;

  &:last-child {
    padding-bottom: 17px;
  }
}

.sub-list__link {
  display: block;
  padding: 11px 0 11px 36px;

  color: #ffffff;
  text-decoration: none;

  @include font(16px, 16px, 400);

  &:hover,
  &:focus {
    background-color: #e33439;
  }
}

@media (min-width: 0) and (max-width: $tablet-width - 1) {
  .sub-list {
    display: block;
    position: relative;
  }

  .sub-list__item {
    background-color: #e33439;
  }

  .sub-list__link {
    &:hover,
    &:focus {
      color: rgba(#ffffff, 0.6);
    }

    &:active {
      color: rgba(#ffffff, 0.3);
    }
  }
}
