.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 11%;
  bottom: 56px;
}

.swiper-button-next-1 {
  display: none;
}

.swiper-button-prev-1 {
  display: none;
}

.swiper-button-next-2,
.swiper-button-prev-2,
.swiper-button-next-3,
.swiper-button-prev-3,
.swiper-button-next-4,
.swiper-button-prev-4 {
  display: none;
}

.swiper-container-2 {
  width: $desktop-width;
  height: 580px;
}

.swiper-container-3 {
  width: $desktop-width;
  height: 233px;
}

@media (min-width: 1437px) {
  .swiper-button-next-2,
  .swiper-button-prev-2,
  .swiper-button-next-3,
  .swiper-button-prev-3,
  .swiper-button-next-4,
  .swiper-button-prev-4 {
    display: block;

    .product-card__arrow {
      &:hover,
      &:focus {
        fill: #323232;
      }

      &:active {
        fill: #323232;
      }
    }
  }

  .swiper-button-prev-2 {
    left: -101px;
    top: 51%;
  }

  .swiper-button-next-2 {
    right: -101px;
    top: 51%;
  }

  .swiper-button-prev-3 {
    left: -100px;
    top: 63%;
  }

  .swiper-button-next-3 {
    right: -106px;
    top: 63%;
  }

  .swiper-button-next-1 {
    display: block;
    right: 5%;

    .product-card__arrow {
      &:hover,
      &:focus {
        fill: #323232;
      }

      &:active {
        fill: #323232;
      }
    }
  }

  .swiper-button-prev-1 {
    display: block;
    left: 5%;

    .product-card__arrow {
      &:hover,
      &:focus {
        fill: #323232;
      }

      &:active {
        fill: #323232;
      }
    }
  }
}

