$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-size: 16px;
$line-height: 140%;
$font-family: "DaxlinePro", "Arial", sans-serif;
$color-text-main: #323232;
